openapi: 3.0.0
info:
  description: This is the API for the 2.4 Code Generation Bank application
  version: "0.0.1"
  title: Bank API
paths:
  
  /Login:
    post:
      tags:
        - Auth
      summary: Logs the user in.
      operationId: login
      description: Create a token for the given username and password. Which the client can than use to access the protected api endpoints.
      responses:
        "200":
          description: The user is logged in.
          content:
            application/json:
              example:
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
        "400":
          description: bad input parameter

  /Logout:
    get:
      security:
        - bearerAuth: []
      tags:
        - Auth
      summary: Logs the user out
      operationId: logout
      description: Unset the token, which in term, logs the user out.
      responses:
        "200":
          description: The user is logged out.
        "400":
          description: bad input parameter


  /Transactions: 
    get: 
      security:
        - bearerAuth: []
      tags:
        - Transactions
      summary: Get all Transactions, with the option to filter.
      parameters:
        - in: query
          name: ibanFrom
          schema:
            type: string
            format: IBAN
        - in: query
          name: ibanTo
          schema: 
            type: string
            format: IBAN
        - in: query
          name: userPerforming
          schema: 
            type: string
        - in: query
          name: timestamp
          schema: 
            type: string
            format: date-time
      operationId: getAllTransactions
      description: Calling this allows you to fetch all transactions. Apply query's to filter results.
      responses:
        "200":
          description: Array of relevant transactions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrayOfTransactions"
        "400":
          description: bad input parameter
    post:
      security:
        - bearerAuth: []
      tags:
        - Transactions
      summary: Create a new transaction
      requestBody:
        description: Transaction object
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Transaction"
      operationId: createTransaction
      description: Calling this allows you to create a transaction
      responses:
        "200":
          description: The transaction is made
        "400":
          description: bad input parameter

  /Transactions/{id}:
    get:
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: Numeric ID of the transaction to get
      tags:
        - Transactions
      summary: Get a transaction by id
      operationId: getTransactionById
      description: Calling this allows you to fetch a specific transaction by id
      responses:
        "200":
          description: the transaction
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReturnBodyTransaction"
        "400":
          description: bad input parameter

  /Users:
    get: #TODO: With filter options like first- lastname, IBAN
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: name
          description: first-/lastname or both
          schema:
            type: string
        - in: query
          name: email
          schema: 
            type: string
            format: email
        - in: query
          name: role
          schema: 
            type: string
            enum:
              - Customer
              - Employee
        - in: query
          name: status
          schema: 
            type: string
            enum:
              - Active
              - Inactive
      tags:
        - Users
      summary: Get all Users, with the option to filter.
      operationId: getAllUsers
      description: Calling this allows you to fetch all users. Apply query's to filter results.
      responses:
        "200":
          description: The users
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrayOfUsers"
        "400":
          description: bad input parameter
    post:
      security:
        - bearerAuth: []
      tags:
        - Users
      summary: Create new user
      requestBody:
        description: User object
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      operationId: createUser
      description: Calling this allows you to create a new user
      responses:
        "200":
          description: User created
        "400":
          description: bad input parameter
  
  /Users/{id}:
    get:
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: Numeric ID of the user to get
      tags:
        - Users
      summary: Get a user by id
      operationId: getUserById
      description: Calling this allows you to fetch a specific user by id
      responses:
        "200":
          description: the user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReturnBodyUser"
        "400":
          description: bad input parameter
    put:
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: Numeric ID of the user to update
      tags:
        - Users
      summary: Update a user
      requestBody:
        description: User object
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      operationId: updateUser
      description: Calling this allows you to update a user
      responses:
        "200":
          description: User updated
        "400":
          description: bad input parameter
    delete:
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: Numeric ID of the user to make inactive
      tags:
        - Users
      summary: Makes a user inactive
      operationId: makeUserInactive
      description: Calling this allows you to make a user inactive
      responses:
        "200":
          description: User is now inactive
        "400":
          description: bad input parameter
  
  /BankAccounts:
    get:
      security:
        - bearerAuth: []
      tags:
        - Accounts
      summary: Get all Bank Accounts
      operationId: getAllAccounts
      description: Calling this allows you to fetch all Bank Accounts
      responses:
        "200":
          description: The Bank Accounts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReturnBodyBankAccount"
        "400":
          description: bad input parameter
    post:
      security:
        - bearerAuth: []
      tags:
        - Accounts
      summary: Create a new BankAccount
      requestBody:
        description: Transaction object
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BankAccount"
      operationId: createAccount
      description: Calling this allows you to create a sBank Account
      responses:
        "200":
          description: Account created
        "400":
          description: bad input parameter

  /BankAccounts/{id}:
    get:
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: IBAN of the Bank Account to get
      tags:
        - Accounts
      summary: Get a Bank Account by IBAN
      operationId: getAccountById
      description: Calling this allows you to fetch a specific Bank Account by id
      responses:
        "200":
          description: the Bank Account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReturnBodyBankAccount"
        "400":
          description: bad input parameter
    put:
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: IBAN of the Bank Account to update
      tags:
        - Accounts
      summary: Update a Bank Account by IBAN
      operationId: updateAccountById
      description: Calling this allows you to update a specific Bank Account by id
      responses:
        "200":
          description: Account updated
        "400":
          description: bad input parameter
    delete:
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: IBAN of the Bank Account to close
      tags:
        - Accounts
      summary: Closes a Bank Account by IBAN
      operationId: closeAccountById
      description: Calling this allows you to close a specific Bank Account by id
      responses:
        "200":
          description: The Bank account will be closed
        "400":
          description: bad input parameter

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Transaction:
      type: object
      required:
        - accountFrom
        - accountTo
        - userPerforming # Can be set based on Bearer-Token
        - amount
        - timestamp
      properties:
        accountFrom:
          type: string
        accountTo:
          type: string
        userPerforming:
          type: integer
        amount:
          type: number
          format: double
        timestamp:
          type: string
          format: date-time

    BankAccount:
      type: object
      required:
        - userId
        - type
        - status
        - absoluteLimit
      properties:
        userId:
          type: integer
        status:
          type: string
          enum:
            - Open
            - Closed
        type:
          type: string
          enum:
            - Regular
            - Savings
        balance:
          type: number
          format: double
        absoluteLimit:
          type: number
          format: double

    User:
      type: object
      required:
        - firstName
        - lastName
        - email
        - password
        - status
        - dayLimit
        - transactionLimit
      properties:
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        password:
          type: string
        role:
          type: string
          enum:
            - Customer
            - Employee
        status:
          type: string
          enum:
            - Active
            - Inactive
        dayLimit:
          type: number
          format: double
        transactionLimit:
          type: number
          format: double

    ReturnBodyTransaction:
      description: Return body type of Transaction      
      type: object
      properties:
        id:
          description: Unique transaction id
          type: integer
          example: 1
        accountFrom:
          description: Sending account
          type: string
          example: NL01INHO0000000001
        accountTo:
          description: Receiving account
          type: string
          example: NL01INHO0000000002
        userPerforming:
          description: Id of user performing the transaction
          type: array
          items: 
            $ref: '#/components/schemas/ReturnBodyUserSimple'
        amount:
          description: The amount of money
          type: number
          format: double
          example: 13.37
        timestamp:
          description: Date and time of the transaction
          type: string
          format: date-time
          example: 01-02-2021 12:06:03
    
    ArrayOfTransactions:
      description: Array of return body of Transactions
      type: array
      items:
        $ref: '#/components/schemas/ReturnBodyTransaction'

    ReturnBodyBankAccount:
      description: Return body type of BankAccount       
      type: object
      properties:
        iban:
          description: The unique identifier for the account
          type: string
          format: iban
          example: NL01INHO0000000001
        userId:
          description: Owner of the bank account
          type: integer
          example: 1
        status:
          description: Status of the account
          type: string
          enum:
            - Open
            - Closed
          example: Open
        type:
          description: Account type
          type: string
          enum:
            - Regular
            - Savings
          example: Regular
        balance:
          description: The ammount of money on the account
          type: number
          format: double
          example: 500.50
        absoluteLimit:
          description: The absolute minimum of the account
          type: number
          format: double
          example: -1000

    ArrayOfBankAccounts:
      description: Array of return body of bank accounts
      type: array
      items:
        $ref: '#/components/schemas/ReturnBodyBankAccount'
    
    ReturnBodyUser:
      description: Return body type of User 
      type: object
      properties:
        id:
          description: Unique user id
          type: integer
          example: 1
        firstname:
          description: Users firstname
          type: string
          example: John
        lastname: 
          description: Users lastname
          type: string
          example: Doe
        email:
          description: Users email
          type: string
          example: johndoe@example.dev
        role:
          description: Users role
          type: string
          enum:
            - Customer
            - Employee
          example: Customer
        status:
          description: Users status
          type: string
          enum:
            - Active
            - Inactive
          example: Active
        dayLimit:
          description: The max spending for the user per day
          type: number
          format: double
          example: 499.90
        transactionLimit:
          description: The max spending for the user
          type: number
          format: double
          example: 499.90
        bankAccounts:
          description: Users accounts
          items:
            $ref: '#/components/schemas/ReturnBodyBankAccount'   

    ReturnBodyUserSimple:
      description: Return body type of User 
      type: object
      properties:
        id:
          description: Unique user id
          type: integer
          example: 1
        firstname:
          description: Users firstname
          type: string
          example: John
        lastname: 
          description: Users lastname
          type: string
          example: Doe
        email:
          description: Users email
          type: string
          example: johndoe@example.dev
        role:
          description: Users role
          type: string
          enum:
            - Customer
            - Employee
          example: Customer
        status:
          description: Users status
          type: string
          enum:
            - Active
            - Inactive
          example: Active  

    ArrayOfUsers:
      description: Array of return body of Users
      type: array
      items:
        $ref: '#/components/schemas/ReturnBodyUser'     
    

